/* settings */
// a {
//   transition: .1s;
//   text-decoration: none;
// }
// button,
// input,
// textarea,
// select {
//   font-family: Arial, sans-serif;
//   font-size: 16px;
// }
// body {
//   min-width: 319px;
//   background-color: #fff;
//   font-family: Arial, sans-serif;
//   font-size: 16px;
//   &.lock {
//     overflow: hidden;
//   }
// }
// .mobile-hide {
//   @media (max-width: $break_xs) {
//     display: none !important;
//   }
// }
// .mobile-visible {
//   @media (min-width: $break_xs + 1) {
//     display: none !important;
//   }
// }
// .tablet-hide {
//   @media (max-width: $break_sm) {
//     display: none !important;
//   }
// }

// .tablet-visible {
//   @media (min-width: $break_sm + 1) {
//     display: none !important;
//   }
// }
.row-eiv {
  @include row();
}
.wrapper-eiv {
  @include wrapper();
}
// *:-webkit-autofill {
//   -webkit-box-shadow: inset 0 0 0 50px #fff !important;
// }
// *::placeholder {
//   color: #a9a9a9;
//   opacity: 1;
// }
.page-eiv {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.content-eiv {
  flex-grow: 1;
}
/* /settings */